/* assets/styles/sections.css */

section {
    display: flex;
    padding: 2em 2em;
    margin-top: 3em;
    margin-right: 2em;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-bottom: 1em;
}
#image {
    width: 60%;
}
.text {
    width: 45%;
    margin-left: 5em;
}
section h2 {
    font-size: 3em;
    color: black;
    margin-bottom: 30px;
}

section p {
    font-size: 1.2em;
    color: #555;
    opacity: 80%;
    line-height: 1.8em;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    section {
        display: flexbox;
        padding: 0em 0em;
        margin-right: 0;
        text-align: center;
        flex-direction: column-reverse;
    }
    .text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }
    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding-top: 0;
        margin-top: 0;
    }
}
