/* assets/styles/footer.css */
footer {
    background-color: #175997;
    color: white;
    padding: 2em 10em;
    padding-bottom: 10em;
    align-items: center;
}

footer h1 {
    font-size: 3.5em;
    text-align: center;
}

#info {
    margin-top: 1em;
    text-align: center;
}
footer p {
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    footer {
        padding: 1em 1em;
    }
}
