/* assets/styles/hero.css */
body {
    font-size: 100%;
}
#hero {
    background-color: #f4f4f4;
    background-image: url(/assets/img/herobackground.png);
    background-size: cover;
    padding: 15% 3%;
    text-align: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero h1 {
    font-weight: 450;
    font-size: 4.6em;
    color: #fff;
    padding-bottom: 0px;
}

#hero p {
    font-size: 1.4em;
    color: #ddd;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #175997;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
}

@media screen and (max-width: 800px) {
    #hero {
        background-attachment: scroll;
        background-size: cover;
    }
}
