/* assets/styles/navbar.css */
nav {
    display: flex;
    align-items: center;
    padding: 0.8em;
    text-align: center;
    vertical-align: center;
    position: static;
}
img {
    height: 2.5em;
    vertical-align: center;
}
.topleft {
    display: block;
    margin-left: 0.5%;
    margin-right: auto;
    width: auto;
    align-items: center;
}
div.container {
    text-align: right;
}
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    display: inline;
    margin-left: 4em;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}
