/* assets/styles/sections.css */
section {
    padding: 100px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

section p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
    font-size: 1.2em;
}
