/* assets/styles/sections.css */
section {
    padding: 2em;
    text-align: center;
}

section h2 {
    font-size: 3em;
    color: black;
    margin-bottom: 30px;
}
section h3 {
    font-size: 2em;
    color: black;
    padding: 0.5em;
}
#container {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: circle;
    list-style-position: inside;
    color: #555;
    text-align: left;
    padding: 1em;
    font-size: 1.25em;
}
li {
    margin-bottom: 1em;
}
#sect {
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 2em;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: rgba(3, 3, 3, 0.05);
    border: 0.1em solid grey;
    border-radius: 1em;
    width: 50%;
}
